html,
body,
div,
header,
h1,
h2,
h3,
p,
input,
section,
ul,
li,
span,
button,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fbfbfe;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

select::-ms-expand {
  display: none;
}

.todos_header {
  margin-top: 32px;
  padding: 0 20px;
  position: relative;
}

.todos_title {
  line-height: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #27354c;
}

.description {
  margin-top: 12px;
  padding: 0 20px;
  line-height: 18px;
  font-size: 12px;
  color: rgba(39, 53, 76, 0.6);
}

.search_icon {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 22px;
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7061 16.331L13.0557 11.8017C14.2027 10.2813 14.7184 8.3695 14.4935 6.47155C14.2686 4.5736 13.3209 2.83871 11.8512 1.63466C10.5575 0.579463 8.94559 0.00269984 7.28281 3.26704e-05C6.19705 -0.00324372 5.12443 0.239952 4.14421 0.711653C3.16399 1.18335 2.30122 1.8715 1.61964 2.72525C1.01719 3.47371 0.567562 4.33535 0.296733 5.26038C0.0259044 6.18541 -0.0607524 7.15548 0.0417709 8.11454C0.139662 9.07455 0.425054 10.0054 0.881431 10.8533C1.33781 11.7012 1.95611 12.4492 2.70056 13.0541C3.99548 14.1095 5.60882 14.6859 7.27272 14.6874C8.86841 14.6849 10.4192 14.1537 11.6872 13.1751L16.3464 17.7031C16.4357 17.7974 16.543 17.8723 16.6618 17.9233C16.7806 17.9743 16.9085 18.0004 17.0376 18C17.2868 18.0004 17.5264 17.9031 17.7061 17.7286C17.7971 17.6402 17.8699 17.5344 17.9204 17.4174C17.9708 17.3005 17.9978 17.1746 18 17.047C18.0012 16.9138 17.9759 16.7817 17.9254 16.6587C17.8749 16.5356 17.8003 16.4242 17.7061 16.331ZM12.618 7.36284C12.6124 8.78763 12.05 10.1525 11.0532 11.1606C10.0565 12.1687 8.70591 12.7384 7.29542 12.7458C5.88142 12.7461 4.52514 12.1793 3.5247 11.1699C2.52426 10.1605 1.96152 8.79117 1.96019 7.36284C1.96186 5.93462 2.5247 4.56547 3.52507 3.55616C4.52544 2.54685 5.88152 1.97993 7.29542 1.97993C8.70714 1.9833 10.06 2.55171 11.0576 3.56065C12.0553 4.5696 12.6164 5.93682 12.618 7.36284Z' fill='%2327354C'/%3E%3C/svg%3E%0A");
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
.todos_section {
  margin: 32px 20px 0;
}

.todo_section_title {
  line-height: 18px;
  font-size: 15px;
  color: #27354c;
}

.todo_list {
}

.todo_item {
  position: relative;
  margin-top: 12px;
  padding: 18px 16px 18px 42px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #c5c5c5;
}

.todo_item_text {
  line-height: 18px;
  font-size: 12px;
  color: #27354c;
}

.todo_icon {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 18px;
  height: 18px;
  border: 2px solid #c5c5c5;
  border-radius: 50%;
  box-sizing: border-box;
}
.todo_icon.in_progress {
  border: 2px solid #f18c27;
}
.todo_icon.done {
  border: 0;
  background-size: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Ccircle cx='9' cy='9' r='9' fill='%23F18C27' /%3E%3Cpath d='M12.6982 5.23141L8.33684 9.97199L6.3306 7.80097C6.25961 7.71995 6.17443 7.65519 6.08007 7.61049C5.98571 7.56579 5.88408 7.54206 5.78116 7.5407C5.67824 7.53933 5.5761 7.56036 5.48077 7.60255C5.38543 7.64473 5.29882 7.70722 5.22604 7.78633C5.15326 7.86544 5.09577 7.95957 5.05696 8.06319C5.01815 8.16682 4.9988 8.27783 5.00006 8.3897C5.00131 8.50158 5.02314 8.61204 5.06427 8.71461C5.10539 8.81717 5.16497 8.90976 5.23951 8.98691L7.78538 11.7541C7.93004 11.9115 8.12628 11.9999 8.33092 12C8.53557 11.9999 8.73181 11.9115 8.87647 11.7541L13.7871 6.41736C13.926 6.25882 14.0024 6.04753 13.9999 5.82862C13.9975 5.6097 13.9164 5.4005 13.774 5.24569C13.6315 5.09088 13.4391 5.00273 13.2377 5.00006C13.0363 4.99739 12.8419 5.08042 12.696 5.23141H12.6982Z' fill='white' /%3E%3C/svg%3E");
}

.todo_emoji {
  display: inline-block;
  margin-right: 8px;
  line-height: 18px;
}

.category_wrap {
  overflow: hidden;
  margin: 40px 0;
  height: 87px;
}

.category_list {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 20px;
}

.category_item {
  position: relative;
  display: inline-block;
  margin-left: 14px;
  width: 129px;
  height: 87px;
  background: linear-gradient(114.08deg, #e9600d 2.66%, #ffce50 95.18%);
  border-radius: 14px;
  vertical-align: top;
}

.category_item:first-child {
  margin-left: 0;
}

.category_item_name {
  position: absolute;
  left: 15px;
  bottom: 12px;
  line-height: 18px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.category_item_count {
  position: absolute;
  top: 10px;
  right: 16px;
  line-height: 24px;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
}

.category_item_emoji {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 32px;
  height: 32px;
  text-align: center;
}

.add_btn {
  position: fixed;
  right: 16px;
  bottom: 24px;
  width: 52px;
  height: 52px;
  background-color: #242faf;
  border-radius: 50%;
}
.add_btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  margin: auto;
  width: 2px;
  height: 18px;
  background-color: #ffffff;
}
.add_btn::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
}

.todo_title_wrap {
  position: relative;
  margin-top: 32px;
  padding-left: 52px;
}

.todo_backbtn {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 20px;
  margin: auto 0;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29847 12.7205L7.32497 12.7449L14.1225 19.7096C14.2248 19.8027 14.346 19.8762 14.4792 19.926C14.6124 19.9758 14.755 20.001 14.8988 20C15.0433 20.0005 15.1865 19.9746 15.32 19.9237C15.4535 19.8728 15.5747 19.798 15.6765 19.7035C15.7788 19.6095 15.86 19.4978 15.9154 19.3748C15.9708 19.2518 15.9993 19.1199 15.9993 18.9868C15.9993 18.8537 15.9708 18.7218 15.9154 18.5988C15.86 18.4758 15.7788 18.3641 15.6765 18.2701L9.66985 12.0227L9.76656 11.9214L15.6712 5.72649C15.7747 5.63276 15.8571 5.52105 15.9136 5.39784C15.97 5.27462 15.9994 5.14233 16 5.0086C16.0006 4.87487 15.9725 4.74235 15.9171 4.6187C15.8618 4.49505 15.7805 4.3827 15.6778 4.28816C15.4692 4.10328 15.191 4 14.9015 4C14.6119 4 14.3337 4.10328 14.1251 4.28816L7.33159 11.2992C7.12539 11.4851 7.00644 11.738 7.00025 12.0037C6.99406 12.2693 7.10111 12.5266 7.29847 12.7205Z' fill='%2327354C'/%3E%3C/svg%3E%0A");
  background-color: transparent;
}

.todo_title {
  line-height: 30px;
  font-size: 22px;
  color: #27354c;
}

.todo_wrap {
  position: relative;
  margin: 38px 20px 0;
}

.todo_input_title {
  display: block;
  margin-top: 24px;
  line-height: 20px;
  font-size: 12px;
  color: rgba(39, 53, 76, 0.4);
}

.todo_input {
  margin-top: 4px;
  padding: 18px 16px;
  width: 100%;
  border: none;
  border-radius: 9px;
  box-shadow: 1px 1px 3px #c5c5c5;
  background-color: #ffffff;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 12px;
  color: #27354c;
}

.todo_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.13451 5.51951L6.11685 5.50324L1.58518 0.86009C1.51698 0.798062 1.43616 0.749036 1.34735 0.71582C1.25854 0.682604 1.16348 0.665852 1.06763 0.666523C0.971297 0.666144 0.875847 0.683423 0.786839 0.717353C0.697832 0.751284 0.617047 0.801187 0.549194 0.864156C0.480964 0.926858 0.426833 1.00133 0.3899 1.08332C0.352967 1.16532 0.333957 1.25321 0.333957 1.34197C0.333957 1.43074 0.352967 1.51863 0.3899 1.60062C0.426833 1.68261 0.480964 1.75709 0.549194 1.81979L4.5536 5.98472L4.48912 6.05222L0.552725 10.1822C0.483674 10.2447 0.42875 10.3191 0.391123 10.4013C0.353496 10.4834 0.333912 10.5716 0.333502 10.6608C0.333091 10.7499 0.351862 10.8383 0.388731 10.9207C0.4256 11.0031 0.479837 11.078 0.54831 11.1411C0.687362 11.2643 0.872859 11.3332 1.06586 11.3332C1.25886 11.3332 1.44436 11.2643 1.58341 11.1411L6.11243 6.46701C6.24991 6.34309 6.3292 6.17451 6.33333 5.9974C6.33745 5.82029 6.26609 5.64874 6.13451 5.51951Z' fill='%2327354C'/%3E%3C/svg%3E%0A")
    no-repeat 95% 50%;
  margin-top: 4px;
  padding: 18px 16px;
  width: 100%;
  border: none;
  border-radius: 9px;
  box-shadow: 1px 1px 3px #c5c5c5;
  background-color: #ffffff;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 12px;
  color: #27354c;
}

.todo_textarea {
  margin-top: 4px;
  padding: 18px 16px;
  width: 100%;
  height: 135px;
  resize: none;
  border: none;
  border-radius: 9px;
  box-shadow: 1px 1px 3px #c5c5c5;
  background-color: #ffffff;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 12px;
  color: #27354c;
}

.todo_savebtn {
  margin-top: 156px;
  width: 100%;
  height: 53px;
  border: none;
  border-radius: 9px;
  background-color: #242faf;
  line-height: 19px;
  font-size: 12px;
  color: #ffffff;
}

.todo_delbtn {
  margin: 16px 0 32px;
  width: 100%;
  height: 53px;
  border: none;
  border-radius: 9px;
  background-color: #ea133a;
  line-height: 19px;
  font-size: 12px;
  color: #ffffff;
}

.error_wrap {
  margin-top: 196px;
}

.error_code {
  line-height: 60px;
  font-size: 44px;
  text-align: center;
}

.error_message {
  margin-top: 18px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
}

.backbtn_wrap {
  margin: 413px 20px 32px;
}
.backbtn {
  width: 100%;
  height: 53px;
  border: none;
  border-radius: 9px;
  background-color: #242faf;
  font-size: 12px;
  color: #ffffff;
}

.search_wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.search_result_wrap {
  margin: 12px 12px 0;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 6px;
}

.search_input_wrap {
  position: relative;
  background-color: #eaeaf2;
  border-radius: 7px;
  margin-right: 26px;
  padding: 8px 34px;
}
.search_input_icon {
  position: absolute;
  top: 6px;
  left: 6px;
}
.search_input {
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: 0;
  color: #27354c;
  font-size: 12px;
}

.search_close_btn {
  position: absolute;
  top: 6px;
  right: -30px;
  background-color: transparent;
  border: 0;
  font-size: 0;
}

.seach_blank_wrap {
  margin: 38px 0 58px;
  text-align: center;
}

.search_blank_text {
  margin-top: 30px;
  font-size: 14px;
  font-weight: bold;
}
